{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}
    <h1>Rango says...</h1>
    <div>
        here is the about page. <br />
        <strong>{{boldmessage}}</strong><br />
    </div>
    <div>
        <h2>Rango says here is the about page.</h2>
        <h2>This tutorial has been put together by your-name</h2>
    </div>
    <div>
        <a href="/rango/">Index</a><br />
        <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
        <img src="{{MEDIA_URL}}cat.jpg" alt="Picture of a Cat" />
    </div>
    <a>Visits: {{visits}}</a>
{% endblock %}

